.containerItemDetail {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 50px;
  padding: 20px;
  background: #ceb7b7;
}

.containerImage {
  flex: 1;
  width: 100%; /* Ajusta según tus necesidades */
  box-sizing: border-box;
}
img {
  width: 350px;
  text-align: center;
}
.containerDetail {
  flex: 1;
  max-width: 100%; /* Ajusta según tus necesidades */
  box-sizing: border-box;
}

h2 span {
  font-size: 18px; /* Ajusta según tus necesidades */
}

h4 {
  font-size: 16px; /* Ajusta según tus necesidades */
}

.counterContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .containerItemDetail {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    padding: 10px;

    /* Cambia a diseño de columna en pantallas más pequeñas */
  }

  .containerImage {
    max-width: 70%; /* Ocupa el ancho completo en pantallas más pequeñas */
    max-height: 70%;
    margin: 5px;
  }
}
